.navbarcomponent {
  background-color: #1565c0;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  color: white;
}
.navbarcomponent div img {
  padding: 10px 10px;
  height: 75px;
}

.navbarcomponent div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbarlist {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 24px;
  cursor: pointer;
  padding: 12px 24px;
  text-decoration: none;
}
.activePage {
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.inAactivePage {
  text-decoration: none;
  color: white;
}
