.navbar {
  padding: 24px 32px;
  background-color: #b2b262;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 2px;
}

.logo {
  height: 32px;
}

.links {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  display: flex;
  gap: 16px;
  align-items: center;
}

.links li a {
  color: black;
  text-decoration: none;
}

.links li a:hover {
  text-decoration: underline;
}
