.Todoscontainer {
  padding: 20px;
  display: flex;
  align-items: center;
}

.todostext {
  align-items: center;
  padding: 10px;
  width: 100%;
  font-size: 20px;
  border: solid #bdbdbd;
  border-radius: 16px;
  cursor: pointer;
}

.todosdate {
  padding: 10px;
  font-size: 20px;
  margin-left: 5px;
  border: solid #bdbdbd;
  border-radius: 16px;
  cursor: pointer;
}

button {
  gap: 5px;
  cursor: pointer;
  border: solid #0091ea;
  background-color: #00b0ff;
  border-radius: 20px;
  padding: 15px;
  font-size: 16px;
  width: 24vh;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
}
button:hover {
  background-color: #0091ea;
  border: solid #0091ea;
}
