.homecomponent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 535.5px;
  background-color: #ffffa3;
}

.homecomponenttext {
  flex: 1;
  padding: 15px;
  font-size: 40px;
  color: #6d6d6d;
  font-family: papyrus;
}

.homecomponentimg {
  flex: 1;
  text-align: center;
  padding: 30px;
}

.homecomponentimg img {
  max-width: 90%;
}
